## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
# Your code here
# Is random.sample without replacement

sample_list_1 = random.sample(range(101),k=80)
print(sample_list_1)

[83, 49, 45, 68, 70, 39, 3, 91, 60, 25, 13, 18, 30, 42, 14, 46, 75, 63, 99, 80, 58, 43, 1, 41, 44, 96, 66, 48, 31, 54, 87, 23, 51, 12, 62, 56, 79, 33, 24, 11, 78, 69, 36, 15, 17, 37, 77, 2, 7, 9, 94, 72, 64, 67, 74, 16, 73, 8, 6, 90, 65, 59, 97, 95, 0, 88, 86, 20, 32, 27, 61, 22, 57, 98, 93, 82, 26, 29, 50, 55]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1= set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [13]:
# Your code here
sample_list_2= random.choices(range(101),k=80)
print(sample_list_2)
print("the lengh is ",len(sample_list_2))

[16, 72, 56, 27, 98, 76, 50, 8, 11, 24, 23, 2, 26, 5, 78, 82, 65, 21, 6, 23, 64, 94, 32, 98, 47, 64, 56, 9, 31, 43, 32, 26, 28, 11, 94, 51, 82, 89, 77, 80, 100, 35, 29, 65, 12, 18, 84, 74, 16, 45, 80, 61, 80, 46, 51, 82, 65, 91, 67, 25, 80, 52, 58, 60, 3, 88, 23, 2, 17, 38, 13, 77, 55, 85, 5, 1, 46, 72, 30, 56]
the lengh is  80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [15]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [38]:
# Your code here


set3=set()
for i in set1:
    if i not in set2:
        set3.add(i)
print("set3:",set3)

set3: {0, 7, 10, 14, 15, 19, 20, 22, 33, 36, 37, 40, 41, 44, 48, 54, 57, 59, 62, 63, 68, 69, 70, 71, 73, 75, 79, 81, 83, 87, 90, 95, 96, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [28]:
# Your code here
set4=set()
for i in set2:
    if i not in set1:
        set4.add(i)
print("set4:",set4)

set4: {65, 98, 100, 38, 6, 74, 77, 16, 82, 56, 28}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [34]:
# Your code here
set5=set()
for i in set2:
    if i in set1:
        set5.add(i)
print("set5:",set5)

#set5 = set1.intersection(set2)

set5: {1, 2, 3, 5, 8, 9, 11, 12, 13, 17, 18, 21, 23, 24, 25, 26, 27, 29, 30, 31, 32, 35, 43, 45, 46, 47, 50, 51, 52, 55, 58, 60, 61, 64, 67, 72, 76, 78, 80, 84, 85, 88, 89, 91, 94}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [52]:
# Your code here
print("set1:",len(set1))
print("set2:",len(set2))
print("set3:",len(set3))
print("set4:",len(set4))
print("set5:",len(set5))

print(len(set1)+len(set2)-2*len(set5)==len(set3)+len(set4))
#2* otherwise i'm counting interseption twice (from s1 and s2) and I have to remove it completely so it's equal to s3 and s4 (no interseption)

set1: 80
set2: 56
set3: 35
set4: 11
set5: 45
True

#### Create an empty set called `set6`.

In [54]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [55]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 35, 36, 37, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 83, 84, 85, 87, 88, 89, 90, 91, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [56]:
# Your code here
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [60]:
# Your code here
#A.issubset(B)
# A is sub set of B
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [61]:
# Your code here
set3.union(set4,set5)
set3.union(set1,set2)
print(set3)

{0, 7, 10, 14, 15, 19, 20, 22, 33, 36, 37, 40, 41, 44, 48, 54, 57, 59, 62, 63, 68, 69, 70, 71, 73, 75, 79, 81, 83, 87, 90, 95, 96, 97, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [67]:
# Your code here
set1.pop()
#it was the first, but I did it repeatedly, so the first ones are gone

3

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [70]:
# Your code here
# I didn't get the error message
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for value in list_to_remove:
    set1.remove(value)
print(set1)

KeyError: 1